* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body class section */
.box {
    height: 100vh;
    background:url(../Images/Netflix-Background.jpg) no-repeat center center/cover;
    width: 100%;
    position: relative;
}

.box::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0);
    opacity: 0.6;
}

.image {
    position: relative;
    height: 90px;
    z-index: 2;

}

.image img {
    width: 190px;
    margin-top: 4%;
    margin-left: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.form {
    width: 450px;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    opacity: 0.8;
    background: rgba(0, 0, 0);
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    transform: translatex(-50%);
    padding: 60px;
}

.signIn {
    margin-bottom: 25px;
    font-size: 2.5rem;
}

.emailPhone, .secret {
    width: 100%;
    height: 50%;
    margin-bottom: 16px;
    position: relative;
    opacity: 1;
}

.emailPhone ::placeholder {
    color: rgb(255, 255, 255);
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.secret ::placeholder {
    color: rgb(255, 255, 255);
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.emailPhone input, .secret input {
    width: 100%;
    height: 100%;
    font-size: 120%;
    background-color: grey;
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    border: none;
    outline: none;
    padding: 16px;
}

.press {
    width: 100%;
    height: 100%;
    margin: 24px 0 12px;
    
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    border: none;
    outline: none;
    padding: 16px;
    cursor: pointer;
}

.press a{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

/* The Remember Me checkbook in alignment with the Need help link */

.rememberBox a {
    color: rgb(138, 137, 137)
}

.needHelp {
    transform: translate(75%, -100%);
}

.needHelp a {
    text-decoration: none;
    color: rgb(138, 137, 137);
}

.needHelp a:hover {
    text-decoration: underline;
}

/* Facebook icon and link to login with facebook under the form */
.facebook img {
    width: 22px;
    margin-right: 10px;
}

.facebook {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.facebook a {
    text-decoration: none;
    color: rgb(138, 137, 137);
}

.facebook a:hover {
    text-decoration: underline;
}

/* Sign up section bottom of the form */

.signUp {
    margin-bottom: 12px;
    color:rgb(138, 137, 137);
}

.signUp a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.signUp a:hover {
    text-decoration: underline;
}

/* Information regarding protection from google */

.tandc {
    color: rgb(138, 137, 137);
}

.tandc a {
    text-decoration: none;
    color: blue;
}

.tandc a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}